.altura{
    height: 120px !important;
    border-radius: 20px;
}
.tiempo-agotado{
    color: red;
    font-size: 25px;

}
.tablero div img:hover{
    transform: scale(1.2);
    box-shadow: 16px 14px 37px -3px rgba(28,124,227,0.77);
}
.fondo, .fondo2, .fondo3, .fondo4{
    background-image: url("../imagenes/fondo.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.fondo2{
    background-image: url("../imagenes/fondo2.jpg");
}
.fondo3{
    background-image: url("../imagenes/fondo3.jpg");
}
.fondo4{
    background-image: url("../imagenes/fondo4.jpg");
}

@media (max-width: 576px) {
    .fondo2{
        background-image: url("../imagenes/fondo2.jpg");
        background-position: center;
    }
    .fondo3{
        background-image: url("../imagenes/fondo3.jpg");
        background-position: center;
    }
    .fondo4{
        background-image: url("../imagenes/fondo4.jpg");
        background-position: center;
    }
}